<!DOCTYPE html>
<html>
<head>
  <title><%= name %> </title>
  <link rel="stylesheet" type="text/css" href= "/movie.css"/>
</head>

<body>
    <header>
        <img src="/banner.png" alt="Rancid Tomatoes" class="banner-image"/>
    </header>
  <h1><%= name %> (<%= year %>)</h1>
  
    <div class="page-content">
        <div class="movie-summary">
            <div>
                <img src="./tmnt/placard.png" alt="<%= name %>" class="movie-image">
            </div>
            <dl>
                <% for (let i = 0; i < cast.length; i++) { %>
                    <dt> <%= cast[i][1] %></dt>
                    <dd> <%= cast[i][0] %>  </dd>
                <% } %>
            </dl>
        </div>
        <div class="comments-wrapper">
            <!-- comments area header  -->				            
            <div class="comments-header">
                <img src="<%= rating >= 60 ? 'freshbig.png' : 'rottenbig.png' %>" alt="rating" class="tomato-fresh"/>
                <span class="fresh-persent"><%= rating %>%</span>					
            </div>

                <!--  comments arae  -->
            <div class="comments-area">
                <div class="left-side" >
                    <% reviewsLeft.forEach(function(review) { %>
                        <div class="comment">
                            <!-- <img src="/<%= movieTitle %>/gif.<%= review.rating %>.gif" alt="<%= review.rating %>" class="critic-icon" /> -->
                            <img src="<%= review.rating === 'FRESH' ? 'fresh.gif' : 'rotten.gif' %>" alt="<%= review.rating %>" class="critic-icon" />
                            <p><%= review.text %></p>
                        </div>
                        <div class="commented-user">
                            <div>
                                <img src="critic.gif" alt="Critic" class="reviewer-icon"/>
                            </div>
                            <div>
                                <p><%= review.reviewer %></p>
                                <p><%= review.publication %></p>
                            </div>
                        </div>
                    <% }); %>
                </div>
                <div class="right">
                    <% reviewsRight.forEach(function(review) { %>
                        <div class="comment">
                            <!-- <img src="/<%= movieTitle %>/gif.<%= review.rating %>.gif" alt="<%= review.rating %>" class="critic-icon" /> -->
                            <img src="<%= review.rating === 'FRESH' ? 'fresh.gif' : 'rotten.gif' %>" alt="<%= review.rating %>" class="critic-icon" />
                            <p><%= review.text %></p>
                        </div>
                        <div class="commented-user">
                            <div>
                                <img src="critic.gif" alt="Critic" class="reviewer-icon"/>
                            </div>
                            <div>
                                <p><%= review.reviewer %></p>
                                <p><%= review.publication %></p>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>	
        </div>	                            
    </div>	
            
    </div>	
    <footer class="footer"> <p><%= reviewsLeft.length + reviewsRight.length %> of <%= reviews.length %></p></footer>
</body>
</html>
